@model GodelTourAgensy.DAL.Entities.ClientEntity

@{ ViewData["Title"] = "Удаление"; }

<div class="container">
    <h1>Удаление</h1>

    <h3>Вы действительно хотите удалить?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Bithday)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Bithday)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="submit" value="Удалить" class="btn btn-danger m-1" />
            <a asp-action="Index" class="m-1">Назад</a>
        </form>
    </div>
</div>