@model X.PagedList.IPagedList<ClientViewModel>

@using X.PagedList;
@using X.PagedList.Web.Common

@using X.PagedList.Mvc.Core;

@{ ViewData["Title"] = "Клиенты"; }
@if (User.IsInRole("admin"))
{
    <div class="container-xxl m-1">
        <div class="table-wrapper">
            <div class="table-title m-3">
                <div class="col-sm-6">
                    <form asp-action="Index" method="post">
                        <p>
                            <div class="row">
                                <input placeholder="Ф.И.О." type="text" class="m-1" name="search" />
                                <input type="submit" value="Поиск" class="btn btn-primary m-1" />
                            </div>

                        </p>
                    </form>
                    @if (User.IsInRole("admin"))
                    {
                        <div class="row">
                            <a asp-action="Create" class="btn btn-primary">
                                <span>Добавить</span>
                            </a>
                        </div>}
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-primary">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.First().FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Bithday)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Phone)
                        </th>
                        @if (User.IsInRole("admin"))
                        {
                            <th>Действия</th>
}
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Bithday)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Phone)
                            </td>
                            @if (User.IsInRole("admin"))
                            {
                                <td>
                                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-success">Редактирование</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удаление</a>
                                </td>
}
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
            new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },

            })
        </div>
    </div>
}